<div class="control">
  <input class="input is-medium" placeholder="Search..." [formControl]="control" [appAutoComplete]="autocomplete" />
</div>

<p style="color: black; font-size: 18px; margin-bottom: 10px;">{{ control.value }}</p>

<app-auto-complete #autocomplete="appAutoComplete">
  <ng-template appAutoCompleteContent>
    <ng-container *ngIf="options | filter: control.value as result">
      <app-option *ngFor="let option of result" [value]="option.label">
        {{ option.label }}
      </app-option>
      <app-option class="no-result" *ngIf="!result.length">No result...</app-option>
    </ng-container>
  </ng-template>
</app-auto-complete>
